# portfolio optimization (real world)

In [4]:

import pandas as pd
import numpy as np
import cvxpy as cvx
import helper
import project_helper
import os
import pandas_datareader.data as pdr
import datetime as dt
import requests_cache

In [3]:
# quandl key
f = open("/Users/manwaiwong/key/quandl.txt","r")

if f.mode == 'r':
    c = f.read()

# get stock stock from quandl

In [13]:
# quandl 
tickers = ["HKEX/01810","HKEX/02342", "HKEX/00552"]
expire_after = dt.timedelta(days=3)
session = requests_cache.CachedSession(cache_name='cache', backend='sqlite', expire_after=expire_after)
start = dt.date.today() - dt.timedelta(5)
end = dt.date.today() 
qkey = c


close_prices = pd.DataFrame() # dataframe to store close price of each ticker
share_volumes = pd.DataFrame()
attempt = 0 # initializing passthrough variable
drop = [] # initializing list to store tickers whose close price was successfully extracted
## loop tickers get data
while len(tickers) != 0 and attempt <= 5:
    tickers = [j for j in tickers if j not in drop] # removing stocks whose data has been extracted from the ticker list
    for i in range(len(tickers)):
        try:
            temp = pdr.DataReader(tickers[i], 'quandl', start, end, api_key=qkey, session=session)
            print(temp)
            close_prices[tickers[i]] = temp["PreviousClose"]
            share_volumes[tickers[i]] = temp["ShareVolume000"]
            temp.dropna(inplace = True)
            drop.append(tickers[i])       
        except:
            print(tickers[i]," :failed to fetch data...retrying")
            continue
    attempt+=1

            NominalPrice  NetChange  Change    Bid    Ask  PEx   High    Low  \
Date
2020-02-13         13.38        NaN     NaN  13.38  13.40  NaN  13.64  12.78
2020-02-12         12.92        NaN     NaN  12.90  12.92  NaN  12.98  12.44
2020-02-11         12.78        NaN     NaN  12.78  12.80  NaN  13.16  12.78
2020-02-10         12.96        NaN     NaN  12.94  12.96  NaN  13.02  12.60

            PreviousClose  ShareVolume000  Turnover000  LotSize
Date
2020-02-13          12.92        370025.0    4882186.0      NaN
2020-02-12          12.78        206695.0    2631046.0      NaN
2020-02-11          12.96        176487.0    2277630.0      NaN
2020-02-10          12.84        209947.0    2705278.0      NaN
            NominalPrice  NetChange  Change   Bid   Ask  PEx  High   Low  \
Date
2020-02-13          3.11        NaN     NaN  3.11  3.12  NaN  3.14  3.04
2020-02-12          3.11        NaN     NaN  3.10  3.11  NaN  3.20  3.03
2020-02-11          3.12        NaN     NaN  3.12  3.13  NaN  3.20  3.11
2020-02-10          3.16        NaN     NaN  3.16  3.17  NaN  3.28  3.11

            PreviousClose  ShareVolume000  Turnover000  LotSize
Date
2020-02-13           3.11         33023.0     102014.0      NaN
2020-02-12           3.12         48894.0     151276.0      NaN
2020-02-11           3.16         38400.0     120573.0      NaN
2020-02-10           3.19         56141.0     178679.0      NaN
            NominalPrice  NetChange  Change   Bid   Ask  PEx  High   Low  \
Date
2020-02-13          5.84        NaN     NaN  5.84  5.85  NaN  6.00  5.79
2020-02-12          5.93        NaN     NaN  5.93  5.94  NaN  5.98  5.74
2020-02-11          5.80        NaN     NaN  5.80  5.82  NaN  5.94  5.74
2020-02-10          5.82        NaN     NaN  5.81  5.82  NaN  5.83  5.55

            PreviousClose  ShareVolume000  Turnover000  LotSize
Date
2020-02-13           5.93         13807.0      81110.0      NaN
2020-02-12           5.80         18299.0     107973.0      NaN
2020-02-11           5.82         16140.0      93949.0      NaN
2020-02-10           5.71         15858.0      91090.0      NaN

In [14]:
close_prices

            HKEX/01810  HKEX/02342  HKEX/00552
Date
2020-02-13       12.92        3.11        5.93
2020-02-12       12.78        3.12        5.80
2020-02-11       12.96        3.16        5.82
2020-02-10       12.84        3.19        5.71

In [15]:
share_volumes

            HKEX/01810  HKEX/02342  HKEX/00552
Date
2020-02-13    370025.0     33023.0     13807.0
2020-02-12    206695.0     48894.0     18299.0
2020-02-11    176487.0     38400.0     16140.0
2020-02-10    209947.0     56141.0     15858.0

In [ ]:
def generate_returns(prices):
    """
    Generate returns for ticker and date.

    Parameters
    ----------
    prices : DataFrame
        Price for each ticker and date

    Returns
    -------
    returns : Dataframe
        The returns for each ticker and date
    """
    #TODO: Implement function
    #print(prices.sum(axis = 0))
    # lesson 7 stock return
    returns = (prices - prices.shift(1)) / prices.shift(1)
    return returns

In [ ]:
returns = generate_returns